.scores-container{
    border: 5px solid rgb(57, 58, 59);
    border-radius: 5px;
    margin: 10px;
    color: rgb(211, 211, 211);
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.404);
}
table{
    width: 100%;
    // height: 50vh;
}
.head-tr th{
    // border-bottom: 3px solid aliceblue;
    padding: 5px;
    font-size: 3vw;

    // head-tr:

}
td{
    padding: 15px;
    border-top: 2px solid rgba(156, 196, 231, 0.24);
    font-size: 2vw;

}