.scores-container{
    color: rgb(211, 211, 211);
    font-size: 1.2rem;
    font-weight: bold;
    // margin: 10px;
/*     height: 200px;
    grid-column: '1/3';
    grid-row: '1/2'; */
    // overflow: auto; 

    max-height: 100%;
    margin-top: 5px;


}
table{
    // border: 5px solid rgb(57, 58, 59);
    background-color: rgba(0, 0, 0, 0.630);
    border-radius: 5px;
    padding: 0 10px;
    // margin: 5px;
    height: 100%;

    width: 50vw; 
}
.head-tr th{
    padding: 5px;
    font-size: 1.7vw;
}
td{
    // padding: 15px;
    border-top: 2px solid rgba(156, 196, 231, 0.24);
    font-size: 1.2vw;

}