.userScoreView-container{
    height: 100%;
    
}
.userScoreView-content{
    margin: 5px;
    border: 5px solid rgb(57, 58, 59);
    background-color: rgba(0, 0, 0, 0.404);
    color: rgb(211, 211, 211);
    border-radius: 5px;
    font-size: 1.2rem;
    height: 100%;
    

}