.start-button__button {
  background-color: rgba(51, 255, 0, 0.616);
  width: 15rem;
  height: 5rem;
  border-radius: 10px;
  margin: none;
  user-select: none;
  border: 5px solid rgba(202, 202, 202, 0.418);
}
.start-button__button :hover {
  color: rgb(192, 238, 238);
}
.start-button__button-text {
  font-size: 40px;
  margin: 0;
  text-align: center;
}
