.start-button__button{
    background-color:  rgb(51, 255, 0);
    // font-size: 40px;
    // grid-area: five;
    width: 15rem;
    height: 5rem;
    border-radius: 10px;
    margin: none;
}
.start-button__button-text{
    font-size: 40px;
    margin: 0 ;
    text-align: center;
}