
.app-background{
    display: grid;
    grid-template-columns: 1fr auto 1fr;

    grid-template-rows: 1fr auto 1fr;
    // background-image: url("@img/backgound/gentoo_wallpalper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
@media (max-width: 900px) {
    .app-background{
        grid-template-columns: auto 100vw auto;
        justify-items: center;
    }
}