*{
    font-size: 62,5%;
}
.timer{
    grid-column: 2/3;
    grid-row: 3/3;
    // background-color: red;
    font-size: 4rem;
}
.jigsaw-background{
    margin-top: 3px;
    grid-column: 2/3;
    grid-row: 1/3;
    background-color: rgba(215, 244, 255, 0.377);
    width: 900px;
    height: 980px;
    display: grid;
    grid-template-columns: 50px auto auto auto 50px;
    grid-template-rows: auto auto auto auto auto;
    justify-content: center;
    border-radius: 5px;
}
.jigsaw-container{
    grid-column: 2/5;
    grid-row: 4/5;
    background-color: rgba(0, 0, 0, 0.205);
    backdrop-filter: blur(4px);
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3,auto);
    box-shadow: 10px 10px 10px  black inset;

}
.pieces{
    box-shadow: 10px 10px 10px  black;
   background-size: contain;
   background-repeat: no-repeat;
   image-rendering: optimizeQuality;

}
.border-active{
    border: 2px solid rgba(255, 255, 255, 0.61);
}
.piece-1{
    background-image: url('@img/pieces_img/piecesPenguin/1.jpg');//https://splitter.imageonline.co/es/
}
.piece-2{
    background-image: url('@img/pieces_img/piecesPenguin/2.jpg');
}
.piece-3{
    background-image: url('@img/pieces_img/piecesPenguin/3.jpg');
}
.piece-4{
    background-image: url('@img/pieces_img/piecesPenguin/4.jpg');
}
.piece-5{
    background-image: url('@img/pieces_img/piecesPenguin/5.jpg');
}
.piece-6{
    background-image: url('@img/pieces_img/piecesPenguin/6.jpg');
}
.piece-7{
    background-image: url('@img/pieces_img/piecesPenguin/7.jpg');
}
.piece-8{
    background-image: url('@img/pieces_img/piecesPenguin/8.jpg');
}
.piece-9{
    background-image: url('@img/pieces_img/piecesPenguin/9.jpg');
}
.win-inactive{
    display: none;
}
.win-active{
    position: absolute;
    width: 100vw;
    height: 100vh; 
    background-color: rgba(58, 58, 58, 0.356);
}

@media  (max-width: 900px) {
    .jigsaw-background{
        // justify-self:center;
        justify-items:center;
        // background-color: red;
    width:100%;
    height: 100vh;
    margin-top: 0;

    }
    .jigsaw-container{
        width: 98vw;
        height: 98vw;
        // margin-right:  20px;
    }

}
@media  (max-width: 700px) {
    .timer{
        grid-column: 2/4;
        grid-row: 2/3;
        align-self: end;
    }
}
