.jigsaw-img-preview{
    grid-column: 4/5;
    grid-row: 2/4;
    height: 150px;
    width: 150px;
    justify-self:end;
    margin-right: 2px;
}
/* @media  (max-width: 900px) {
    .jigsaw-img-preview{
    width: 70px;
    height: 70px;
    }
} */
