*{
    font-size: 62,5%;
}
.jigsaw-background{
    grid-column: 2/3;
    grid-row: 1/3;
    background-color: rgba(215, 244, 255, 0.377);
    width: 900px;
    height: 980px;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 50px auto auto auto 50px;
    grid-template-rows: auto auto auto auto auto;
    justify-content: center;
    border-radius: 5px;

    // justify-items: center;
}
.jigsaw-container{
    grid-column: 2/5;
    grid-row: 4/5;
    // background-color: red;
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3,auto);
}
.pieces{

   background-size: contain;
   background-repeat: no-repeat;
   image-rendering: optimizeQuality;

}
.border-active{
    border: 2px solid gray;
}
.piece-1{
    background-image: url('@img/pieces_img/piecesPenguin/1.jpg');
}
.piece-2{
    background-image: url('@img/pieces_img/piecesPenguin/2.jpg');
}
.piece-3{
    background-image: url('@img/pieces_img/piecesPenguin/3.jpg');
}
.piece-4{
    background-image: url('@img/pieces_img/piecesPenguin/4.jpg');
}
.piece-5{
    background-image: url('@img/pieces_img/piecesPenguin/5.jpg');
}
.piece-6{
    background-image: url('@img/pieces_img/piecesPenguin/6.jpg');
}
.piece-7{
    background-image: url('@img/pieces_img/piecesPenguin/7.jpg');
}
.piece-8{
    background-image: url('@img/pieces_img/piecesPenguin/8.jpg');
}
.piece-9{
    background-image: url('@img/pieces_img/piecesPenguin/9.jpg');
}


