.start-stage__background {
    display: grid;
    place-items: center; /* Centra el contenido en el centro del área de cuadrícula */
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.288);
    // margin-top: 25vh;
    z-index: 1;
    text-align: center;

    
}
.start-stage__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,auto);
    background-color: /* rgba(0, 0, 0, 0.507); */ rgba(0, 0, 0, 0.51);
    border-top: outset rgba(32, 37, 39, 0.81) 10px;
    border-bottom: outset rgba(32, 37, 39, 0.81) 10px;   
    width: 100%;
    // height: 30%;
    align-items: center;
    // justify-items: start;

}
.start-stage__scores{
    display: flex;
    grid-column: 1/4;
    grid-row: 1/2;
    justify-content: center;
    align-content: center;
}
.start-stage__input-Name-container{
    grid-column: 2/3;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 3vh 0;
    // height: 40px;
}
.start-stage__buttons-container{
    margin: 3vh 0;
    grid-column: 1/4;
    display: flex;
    justify-content: center;
     width: 100%;
}
.start-stage__buttons-container button{
    margin:0 1vw;
}
@media (max-width: 900px) {
    .start-stage__input-Name-container{
        grid-column: 1/4;
        width: 80%;
        padding: 0 40px;
    }
    // .start-stage__scores{
    //     align-items: center;
    //     flex-direction: column;
    // }
    table{ //desactivamos la tabla de scores para mobile hasta que sepa donde ponerla
        display: none;
    }

    }