.start-stage__background {
    display: grid;
    place-items: center; /* Centra el contenido en el centro del área de cuadrícula */
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.288);
    // margin-top: 25vh;
    z-index: 1;
    text-align: center;

    
}
.start-stage__StartButton-container{
    display: grid;
    grid-template-areas: 
    'one two tree'
    'four five six'
    'seven eight nine';
    background-color: rgba(0, 0, 0, 0.507);

    border-top: outset rgba(255, 255, 255, 0.808) 10px;
    border-bottom: outset rgba(255, 255, 255, 0.808) 10px;
    width: 100%;
    height: 30%;
    // background-color: red;
    display:flex;                
    align-items: center;
    justify-content: center;
    // flex-direction: column;
    
}